* {
    margin: 0;
}

body {
    min-width: 450px;
}

main {
    margin: 1em;
}

section {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

input {
    border: 2px solid #5f9341;
    padding: .5em
}

input:focus {
    background: lightskyblue;
}

button {
    padding: .5em 1.2em;
    background: #5f9341;
    border: none;
    color: #FFFF;
    font-weight: 700;
}

li {
    margin: .3em 0 .5em -2.4em;
    list-style: none;
}

a {
    color: #5f9341;
    cursor: pointer;
}